* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #000055;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b9b9b9;
  color: #fff;
  padding: 1rem 10%;
}

.logo-details {
  font-size: 2rem;
}

.media-icons {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}

.media-icons i {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.fa-facebook-f {
  background-color: #4242c0e7;
}

.fa-twitter {
  background-color: #009bd8;
}

.fa-instagram {
  background-color: #f33535;
}

.fa-linkedin-in {
  background-color: #2b2bc7;
}

.fa-youtube {
  background-color: #ff0000;
}

.link_name {
  position: relative;
}


.link-boxes {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
}

li {
  list-style: none;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.box a {
  color: #8b81a7;
}

.input-box input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #fff;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  color: #000055;
}

.link_name+li input {
  background-color: transparent;
  color: #fff;
}

.bottom-details {
  width: 100%;
  color: #8b81a7;
  padding: 1.5rem 10rem;
  background-color: #000047;
}