body {
    position: absolute;
    top: 30px;
    left: 18rem;
}

.wrap {
    position: relative;
    margin: auto;
    width: 1000px;
}

.nav {
    background-color: rgb(44, 75, 155);
    padding: 1rem;
    font-weight: 500;
    width: 70%;
}

.nav a {
    text-decoration: none;
    justify-content: space-evenly;
    display: inline-block;
    text-transform: uppercase;
    color: #ffff;
    padding: 10px;
    font-size: 16px;

}