* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

[aria-label="navbar"] {
  position: relative;
  top: 30px;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}
.list {
  display: flex;
  list-style-type: none;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.list-item {
  margin-right: 40px;
  overflow: hidden;
  position: relative;
}
.list-item::after {
  background-color: #000000;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: 0;
  transition: width 0.35s ease 0s;
  position: absolute;
}
.list-item:hover::after {
  width: 90%;
}

.button-group {
  display: flex;
  align-items: center;
}
.nav-button {
  margin-left: 8px;
  padding: 6px 12px;
  width: 130px;
  border-radius: 10px;
  background-color: transparent;
  color: #808080;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
[aria-label="banner"] {
  position: relative;
  top: 75px;
}
.hero-container {
  display: flex;
}
.square {
  position: absolute;
  top: 300px;
  left: 180px;
}
.square img {
  width: 280px;
  height: 280px;
}

.star {
  position: absolute;
  top: 90px;
  right: 30px;
}
.star img {
  width: 50px;
  height: 50px;
}

.globe {
  position: absolute;
  top: 35px;
  left: 590px;
}
.globe img {
  width: 60px;
  height: 60px;
}

.person-image {
  position: absolute;
  top: 90px;
}
.person-image img {
  height: 440px;
  width: 400px;
}
.hero-container-right {
  position: absolute;
  top: 150px;
  left: 480px;
}

.hero-heading {
  font-family: "Orbitron", sans-serif;
  font-size: 54px;
  font-weight: 600;
}
.hero-description {
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  text-align: center;
  padding: 45px;
  font-size: 15px;
}
.body-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button-email,
.button-join {
  margin-left: 8px;
  padding: 6px 12px;
  width: 200px;
  border-radius: 10px;
  background-color: transparent;
  color: #808080;
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.button-join {
  background-color: #000000;
  color: #ffffff;
  width: 150px;
  margin-left: 15px;
}
.body-contact {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 70px;
}
.contact-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
span img {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
}
